/* TODO:
* - Add support for media queries ???
* perhaps highlight words in word cloud to suggest they are clickable
*/

/* General elements style */

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

body {
  background: rgb(168, 90, 94);
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  touch-action: pan-x pan-y;
}

h1,
h2 {
  margin-top: 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 4%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  display: block;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 80%;
}

li {
  background-color: rgba(180, 180, 180, 0.3);
  list-style: none;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  width: 35%;
  border-radius: 2%;
  padding: 3%;
}

li img {
  width: 100%;
  height: auto;
  border-radius: 1%;
}

li h3 {
  width: 100%;
  text-align: center;
}

img {
  border-radius: 10px;
}

/* General classes */
/* Landing Page */

#main {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 153, 0.6);
  pointer-events: none;
}

#video-background {
  z-index: -4;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  scale: 1.05;
}

.intro-text {
  padding-left: 30em;
  padding-top: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30em;
  height: 26em;
  /*padding: 20px;*/
}

#project-heading-wrapper-landing {
  height: 100%;
  width: 50%;
  position: absolute;
  display: table;
  animation: fadeIn 1s;
  z-index: 4;
}

.project-heading {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  padding: 5%;
  margin: auto;
  left: 0;
  right: 0;
  background: rgba(180, 180, 180, 0.2);
  color: rgba(248, 225, 203, 0.8);
  border-radius: 0.5em;
  font-size: 7em;
  line-height: 1.25em;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

@media screen and (width <= 1250px) {
  .project-heading {
    font-size: 5.5em;
  }

  input {
    font-size: 16px;
  }
}

@keyframes pulsating-click {
  from {
    color: rgba(248, 225, 203, 0.8);
  }
  to {
    color: rgba(248, 225, 203, 0.2);
  }
}

.click-to {
  position: fixed;
  z-index: 3;
  color: rgba(248, 225, 203, 0.8);
  font-size: 2.2rem;
  font-weight: 1000;
  animation: fadeIn 1s, pulsating-click 0.75s infinite alternate;
}

#click-to-begin {
  bottom: 5%;
  right: 5%;
}

#background-images-landing {
  position: absolute;
  width: 50vw;
  height: 100vh;
  right: 0;
  top: 0;
}

.background-images {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  z-index: 1;
}

.floating-wrapper {
  position: relative;
  opacity: 0;
  width: 10vw;
  height: 10vw;
  left: 0;
  top: 0;
}

.floating-image {
  position: relative;
  /* width: 10vw; assume image is squared */
  left: 0;
  top: 0;
}
.floating-signature {
  position: absolute;
  z-index: 3;
  width: 4em;
  bottom: 0;
  right: 0;
  width: 3em;
}

.floating-grid {
  padding-top: 5vw;
  padding-right: 5vw;
  padding-bottom: 20vw;
  padding-left: 10vw;
}

.btn {
  background-color: rgba(39, 39, 39, 0.1);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: crosshair;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  display: block;
  margin: auto;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgba(39, 39, 39, 0.2);
}

.btn-medium {
  display: inline;
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 1em;
  border: 0.1em solid rgba(248, 225, 203, 0.4);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  color: rgb(248, 225, 203);
  max-width: 100%;
  width: 8.4em;
  animation: fadeIn 1s;
}

.div-medium {
  text-align: center;
}

.div-language {
  text-align: center;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 18% 0;
}

.bars {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7%;
}

.btn-language {
  font-size: 1.9rem;
  padding: 10px 14px;
  margin: 18% 2% 5% 2%;
  display: none;
  max-height: 5em;
}

.textLangBtn {
  display: none;
  margin: 0% 2% 5% 2%;
  color: rgb(248, 225, 203);
  font-size: 40px;
}

#btn-next-stage {
  color: rgb(255 254 254 / 86%);
  background-color: rgba(248, 225, 203, 0.18);
  /* padding: 0.5em 2em; */
  width: 9em;
  height: 1.7em;
  border-radius: 10em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 2%;
  animation: fadeIn 1s;
}

.email-scheme {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100em;
  animation: fadeIn 1s;
}

.btn-signature {
  display: inline;
  color: rgb(255 254 254 / 86%);
  background-color: rgba(248, 225, 203, 0.4);
  padding: 0.5em 1.2em;
  border-radius: 10em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 2%;
  animation: fadeIn 1s;
  /* margin-left: 3%;
  margin-right: 3%; */
  margin: 0.8em 0.6em;
}

#changeSigColor {
  padding: 0.4em 1em;
  border-radius: 10em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  margin-bottom: auto;
}

.btn-signature-cancel {
  display: inline;
  color: rgb(255 254 254 / 86%);
  background-color: rgba(248, 225, 203, 0.18);
  padding: 0.5em 1.2em;
  border-radius: 10em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 2%;
  animation: fadeIn 1s;
  /* margin-left: 3%;
  margin-right: 3%; */
  margin: 0.8em 0.6em;
  /* border: 0.1em solid rgba(248, 225, 203, 0.4); */
}

.btn-restart {
  position: fixed;
  bottom: 6.5%;
  right: 18%;
  background-color: rgba(248, 225, 203, 0.1);
  color: rgb(255 254 254 / 86%);
  border-radius: 10em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  padding: 10px 16px;
}

#send-email {
  font-size: 2.2em;
}

.email-form {
  position: block;
  margin-top: 11em;
}

.input {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
  border: 1px solid rgba(248, 225, 203, 0.4);
  background-color: #fff3f11f;
  background: rgba(180, 180, 180, 0.3);
  appearance: none;
  width: 20%;
  position: relative;
  border-radius: 17px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(248, 225, 203);
  font-size: 23px;
  font-weight: 400;
  height: 40px;
  transition: all 0.2s ease;
}

.input:hover {
  background: rgba(180, 180, 180, 0.3);
}

.input:focus {
  background: rgb(144, 144, 144, 0.3);
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, rgb(248, 225, 203) 0 0 0 1.5px;
}

.cloud {
  display: block;
  margin: auto;
}

.hint {
  font-weight: 200;
  animation: fadeIn 1s;
  cursor: crosshair;
  padding-right: 0.5%;
  padding-left: 0.5%;
  border-radius: 1em;
  border: 0.13em solid rgba(248, 225, 203, 0.4);
  margin-left: 5%;
  margin-right: 5%;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  color: rgb(248, 225, 203);
  background-color: rgba(39, 39, 39, 0.1);
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 2rem;
  width: 10em;
}

.hint:hover {
  color: #a24e78;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#share {
  display: none;
}

#buy {
  display: none;
}

#btn-previous-stage {
  display: none;
}

#btn-result {
  display: none;
  color: rgb(255 254 254 / 86%);
  background-color: rgba(248, 225, 203, 0.4);
  padding: 0.5em 2em;
  border-radius: 0.5em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 2%;
  /* animation: fadeIn 1s; */
}

#fact {
  animation: fadeIn 1s;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  bottom: 1rem;
  max-width: 70%;
  font-weight: 300;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.short-fadeOut {
  animation: fadeOut 1s forwards !important;
}

.short-fadeIn {
  animation: fadeIn 1s forwards !important;
}

@keyframes blurIn {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

.dalle-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 296px;
  margin: 5% 0 5% 0;
}

.dalle-card {
  margin: 1rem;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 260px;
}

.imgPreview {
  width: 100%;
  border-radius: 10px;
  visibility: hidden;
}

.imgPreview-show {
  visibility: visible;
  animation: fadeIn 1s, blurIn 1s;
}

.sigCanvas {
  border-radius: 30px;
  border: 0px solid white;
  padding: 0px;
}

.publish-buttons {
  display: block;
}

.email-input {
  display: none;
}

#gallery-publish {
  display: none;
  text-align: center;
  animation: fadeIn 1s;
}

#publish-title {
  margin: 4% auto 1.5% auto;
  max-width: 60%;
}

#signature-page {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: space-evenly;
}

#final-goodbye {
  display: none;
}

#canvas-container {
  width: 83%;
  text-align: center;
  border: 1px solid rgba(248, 225, 203, 0.4);
  background-color: #fff3f11f;
  border-radius: 30px;
  padding: 0px;
  margin: auto;
}

.sigCanvas {
  border-radius: 30px;

  padding: 0px;
  margin: auto;
}

.final-image {
  z-index: 1;
  width: 27em;
  position: relative;
}

.publish-image-wrapper {
  position: relative;
  margin: auto;
  width: 28em;
}

.imgNotSelected {
  z-index: 2;
  display: none;
}

/* .signature-image {
  z-index: 2;
  position: relative;
  left: 58%;
  bottom: 2.5em;
  width: 6em;
  max-height: 4em;
} */

.signature-image {
  z-index: 2;
  position: absolute;
  right: 2%;
  bottom: 2%;
  max-height: 65%;
  max-width: 23%;
}

.art-content {
  padding: 8% 25% 8% 5%;
  margin-left: 15em;
  background-color: whitesmoke;
  font-size: 0.4em;
  text-align: left;
}

#current-selection {
  color: rgba(248, 225, 203, 1);
  font-style: italic;
}

.ongoing-query {
  display: inline-block;
  border-bottom: 2px solid rgba(248, 225, 203, 0.7);
  color: rgba(248, 225, 203, 0.6);
  font-weight: 600;
  font-size: 1.2em;
}

#query-div {
  padding-top: 3em;
  text-align: center;
  width: 100%;
  height: 1.2em;
}

.selection-title {
  text-align: center;
  color: rgb(248, 225, 203);
  font-weight: bold;
  font-size: 2.8em;
  margin-bottom: 3%;
  margin-top: 6%;
  display: block;
}

.facts {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(248, 225, 203, 0.8);
  margin-left: 7em;
  margin-right: 7em;
  animation: fadeIn 2s;
}

.prompts {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(248, 225, 203, 0.8);
  margin: 1em 7em 1em 7em;
  animation: fadeIn 2s;
  height: 2em;
  z-index: 4;
}

.hintDiv {
  height: 15em;
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: center;
}

.hintDiv div {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 1em 0 1em;
}

.gallery-item {
  display: inline-grid;
  margin: 5%;
  width: 34%;
}

.final-query {
  display: block;
  text-align: center;
  color: rgb(248, 225, 203);
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
  margin-left: 5em;
  margin-right: 5em;
}

#btn-finish-assemble {
  font-size: 1.2rem;
  padding: 10px 14px;
  display: inline;
  color: rgb(248, 225, 203);
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 12%;
  display: flex;
}

.error {
  color: rgb(248, 225, 203);
}

/* Loading icon */

.loader {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  margin: auto;
  display: flex;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: linear-gradient(#cf6489, #d28148, #cba33b);
  animation: spin 1.2s linear infinite, fadeIn 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#cf6489, #d28148, #cba33b);
}

.loader span:nth-child(1) {
  filter: blur(2px);
}

.loader span:nth-child(2) {
  filter: blur(5px);
}

.loader span:nth-child(3) {
  filter: blur(10px);
}

.loader span:nth-child(4) {
  filter: blur(1.53em);
}

.loader span:nth-child(5) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /* background: #f1f1f1;
  border: solid white 10px; */
  border-radius: 50%;
}

.form {
  display: inline;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(248, 225, 203, 0.4);
}

/* SIGNATURE SLIDER */

input[type="range"] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 35%;
  display: block;
  margin: auto;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: rgb(248, 225, 203);
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: #16a085;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: #16a085;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type="range"]:active::-webkit-slider-thumb {
  border-color: #ffffff;
}
input[type="range"]:active::-moz-range-thumb {
  border-color: #ffffff;
}
input[type="range"]:active::-ms-thumb {
  border-color: #ffffff;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.intensityTitle {
  margin-top: 1.5%;
  font-size: 1.5rem;
  margin-bottom: 1%;
  color: rgb(248, 225, 203);
  display: block;
  margin: auto;
}

/* END OF SIGNATURE SLIDER */

#check-spam {
  color: rgb(248, 225, 203);
}

/* Final Page */

#final-page {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#background-images-final {
  width: 100%;
  height: 100%;
}

#click-to-restart {
  bottom: 5%;
  text-align: center;
  width: 100%;
  font-size: 2em;
  opacity: 0;
  animation: none;
}

#wrapper-final {
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  background: rgba(180, 180, 180, 0.2);
  color: rgba(248, 225, 203, 0.8);
  border-radius: 1em;
  text-align: center;
  font-size: 2.5em;
  padding: 5%;
  opacity: 0;
}

#wrapper-final img {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 5%;
}

#heading-final {
  text-align: center;
  background: none;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

/* TIMEOUT BOX SECTION */

#timeout-box {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 30%;
  margin: auto;
  padding: 2%;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid rgba(248, 225, 203, 0.8);
  background-color: #16a085;
}

#timeout-box h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

#timeout-box p {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

#btn-timeout {
  font-size: 2.2em;
  margin: auto;
  text-align: center;
  display: block;
  margin-bottom: 15%;
}

/* END OF TIMEOUT BOX SECTION */
